<div id="<%= dom_id message %>" class=" m-1 p-1 overflow-x-hidden flex flex-cols space-between">
    <p class="flex-start">
        <span class="flex-start"> 
            <span class="min-w-16 rounded-3xl bg-[<%=message.user.color%>]-600 text-black p-2"> <%= message.content %> </span> 
            </br>
            <span class=<%="text-xs"%> > <%= message.user.pseudo_name %>  </span>
        </span>
    </p>
</div>