<div class="w-full">
    <div class="m-2 p-2 flex flex-col items-center">
        <p class="m-2"> THE BAR </p>
        <span class=""> Hey there, <%= @current_user.pseudo_name %>, welcome to The Bar </span>
    </div>
    <div class="bg-orange-600 w-full ">
        <ul class="flex flex-row items-stretch justify-right">
            <% unless @taverns.empty? %>
                <% @taverns.each do |tavern| %>
                    <li> 
                        <div class="m-2 p-2 bg-red-300 rounded"> 
                            <span> <%= tavern.name %> </span> <!-- onlick use reflex to show the tavern chat -->
                        </div>
                    </li>
                <% end %>
            <% end %>
            <li> 
                <div class="m-2 p-2 bg-red-300 rounded"> 
                    <span> Create a New Tavern </span> <!-- on click use reflex to render partial and create new reflex -->
                </div>
            </li>
        <ul>
    </div>
    
    <div class="changeable w-full max-h96 border border-black-300 p-2 m-2 grid grid-rows-8">
        <div class="w-full h-96 row-start-1 row-end-7" >
            <% turbo_stream_from "messages" %>
            <%= turbo_frame_tag "messages" do %>
                <% @messages.each do |message| %>
                    <span> <%= message %> </span>
                <% end %>
            <% end %>
        </div>
        <div class="row-start-7 row-end-9">
            <%= render partial: "messages/form", locals: {message: Message.new, tavern: @tavern.id, user: current_user.id}%>
        </div>
    </div>
</div>