<div class="w-full">
    <div class="m-2 p-2 flex flex-col items-center">
        <p class="m-2"> TANGAMANA </p>
        <span class=""> Hey there, <%= @current_user.pseudo_name %>, welcome to The Bar </span>
    </div>
    <div class="bg-orange-600 w-full">
        <p class="text-l text-white m-1"> This is the <%= @tavern.name.titleize %> tavern. </p>
        </br>
        <p class="text-s text-white m-1"> <%= @tavern.topic.titleize %> </p>
    </div>
    
    <div data-hello-target="chats" class="changeable w-full max-h96 border rounded border-black-300 p-2 m-2 grid grid-rows-8 bg-gray-200">
        <div id="chat" class="w-full h-96 row-start-1 row-end-7 overflow-y-scroll auto" onload="toBottom()" >
            <%= turbo_stream_from "messages" %>
            <%= turbo_frame_tag "messages" do %>
                <% @messages.each do |message| %>
                    <%= render partial: "messages/message", locals: {message: message}%>
                <% end %>
            <% end %>
        </div>
        <div class="row-start-7 row-end-9">
            <%= render partial: "messages/form", locals: {message: Message.new, tavern_id: @tavern.id, user_id: current_user.id}%>
        </div>
    </div>
</div>
